<!-- navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light ui small secondary menu shadow-sm fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    <div class="item">
        <img src="https://media.tghn.org/medialibrary/2020/04/covid19_logo.png" style="width: 100px; height: 20px;" alt="">
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="active item " href="index.html">
            <i class="home icon"></i> Home
        </a>
        <a class="item " href="#footer">
            <i class="mail icon"></i> Contact Us
        </a>
        <a class="item " href="#statistic">
            <i class="chart area icon "></i>Statistics
        </a>


        <div class="right menu ">
            <div class="item ">
                <div class="ui icon input ">
                    <input type="text " placeholder="Search... ">
                    <i class="search link icon "></i>
                </div>
            </div>
            <div class="ui dropdown item ">
                <a href="#faq ">
                  Help FAQ<i class="question circle icon "></i>
              </a>
            </div>

        </div>
    </div>
</nav>
<!-- navigation -->

<!-- hero -->
<section id="header">
    <div class="container ">
        <div class="row ">
            <div class="col ">
                <h1 class="h1-title ">[ COVID-19 ]</h1>
                <p class="text-center ">
                    Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus. Most people who fall sick with COVID-19 will experience mild to moderate symptoms and recover without special treatment.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- hero -->

<!-- statistics -->
<section id="statistic">
    <div class="container text-center ">
        <div class="section-title">
            <h2>Statistics</h2>
            <p>Covid-19 Tracker Country Wise, click on the select dropdown to pick a country of your choice....</p>
        </div>
        <div class="row ">
            <div class="col text-center mb-3 ">
                <form>
                    <div class="form-group ">
                        <select (change)="countryChanged($event.target.value) " class="form-control " id="country ">
              <option selected value="global ">Global</option>
              <option *ngFor="let country of countries " value="{{country}} ">{{country}}</option>
            </select>
                    </div>
                </form>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 md-3 ">
                <div class="card card-infected ">
                    <div class="card-body ">

                        <h3 class="card-title "> <i class="icofont-thermometer-alt" style="color: tomato;"></i> INFECTED</h3>
                        <p class="card-text " [countUp]="data.confiremd ">{{data.confiremd | number}}</p>
                        <p>{{data.lastupdate | date:'longDate'}}</p>
                        <p>Number of active cases of COVID-19</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 md-3 ">
                <div class="card card-recovered ">
                    <div class="card-body ">
                        <h3 class="card-title ">
                            <i class="icofont-drug" style="color:rgb(45, 235, 45);"></i> RECOVERED</h3>
                        <p class="card-text " [countUp]="data.recovered ">{{data.recovered | number}}</p>
                        <p>{{data.lastupdate | date:'longDate'}}</p>
                        <p>Number of recovered cases of COVID-19</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 md-3 ">
                <div class="card card-deaths ">
                    <div class="card-body ">
                        <h3 class="card-title ">
                            <i class="icofont-heart-beat" style="color: red; "></i> DEATHS</h3>
                        <p class="card-text " [countUp]="data.deaths ">{{data.deaths | number}}</p>
                        <p>{{data.lastupdate | date:'longDate'}}</p>
                        <p>Number of deaths cases of COVID-19</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- statistics -->


<!-- graphic-->
<section id="graph">
    <div class="container">
        <div class="row">
            <div class="col chart-wrapper">
                <canvas *ngIf="global" baseChart [chartType]="lineChartType" [datasets]="lineChartData" [labels]="lineChartLabels">
        </canvas>
                <canvas *ngIf="!global" baseChart [chartType]="barChartType" [datasets]="barChartData" [labels]="barChartLabels">
        </canvas>
            </div>
        </div>
    </div>
</section>
<!-- graphic-->
<!-- ======= Frequently Asked Questioins Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Frequently Asked Questioins</h2>
            <p>Coronaviruses are zoonotic, meaning they are transmitted between animals and people. Detailed of frequently ask questions are found below....</p>
        </div>

        <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

            <li>
                <a data-toggle="collapse" class=" " href="#faq1">What is Corona Virus? <i
                          class="icofont-simple-up"></i></a>
                <div id="faq1" class="collapse show" data-parent=".faq-list">
                    <p>
                        The coronavirus disease (COVID-19) is caused by a new strain of coronavirus (SARS-CoV-2) that has not been previously identified in humans. It was first reported to WHO on the 31st of December, 2019 in Wuhan, China.
                    </p>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#faq2" class="collapsed">What are the most common Symptoms of Covid-19? <i class="icofont-simple-up"></i></a>
                <div id="faq2" class="collapse" data-parent=".faq-list">
                    <p>
                        COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.
                    </p>
                    <ul>
                        <li>Most common symptoms: fever, dry cough, tiredness
                        </li>
                        <li>Less common symptoms: aches and pains, sore throat, diarrhoea, conjunctivitis, headache ,loss of taste or smell, a rash on skin, or discolouration of fingers or toes</li>
                    </ul>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#faq3" class="collapsed">Ways of preventing corona spreading? <i class="icofont-simple-up"></i></a>
                <div id="faq3" class="collapse" data-parent=".faq-list">
                    <p>
                        Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided by your local health authority. <strong>To prevent the spread of COVID-19:</strong>
                    </p>
                    <ul>
                        <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
                        <li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
                        <li>Wear a mask when physical distancing is not possible. Don’t touch your eyes, nose or mouth.</li>
                        <li>Wear a mask when physical distancing is not possible. Don’t touch your eyes, nose or mouth.</li>
                        <li>If you have a fever, cough and difficulty breathing, seek medical attention.</li>
                    </ul>
                    <p>Calling in advance allows your healthcare provider to quickly direct you to the right health facility. This protects you, and prevents the spread of viruses and other infections. Masks Masks can help prevent the spread of the virus
                        from the person wearing the mask to others. Masks alone do not protect against COVID-19, and should be combined with physical distancing and hand hygiene. Follow the advice provided by your local health authority.
                    </p>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#faq4" class="collapsed">What are the best ways of treating Covid-19? <i class="icofont-simple-up"></i></a>
                <div id="faq4" class="collapse" data-parent=".faq-list">
                    <p>
                        To date, there are no specific vaccines or medicines for COVID-19. Treatments are under investigation, and will be tested through clinical trials. World Health Organization
                    </p>
                    <p>Self care If you feel sick you should rest, drink plenty of fluid, and eat nutritious food. Stay in a separate room from other family members, and use a dedicated bathroom if possible. Clean and disinfect frequently touched surfaces.
                        Everyone should keep a healthy lifestyle at home. Maintain a healthy diet, sleep, stay active, and make social contact with loved ones through the phone or internet. Children need extra love and attention from adults during difficult
                        times. Keep to regular routines and schedules as much as possible. It is normal to feel sad, stressed, or confused during a crisis. Talking to people you trust, such as friends and family, can help. If you feel overwhelmed, talk
                        to a health worker or counsellor.</p>
                </div>
            </li>

        </ul>

    </div>
</section>
<!-- End Frequently Asked Questioins Section -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Daoson</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by Daodu Victor <span><a class="item" href="https://web.facebook.com/victor.daodu.5">
              <i class="facebook icon"></i>
          </a></span>
            <a class="item" href="https://twitter.com/Vitexzdaoson">
                <i class="twitter icon"></i>
            </a><span><a class="item" href="https://github.com/daoson12">
              <i class="github icon"></i>
          </a></span>
        </div>
    </div>
</footer>
<!-- End Footer -->

<router-outlet>

</router-outlet>